Customer Requirements -- Sample Use Cases

- Customers can buy CDs, searching on the title and the artist.
- Record labels send batches of CDs to the warehouse.
- Customers can only (search for and) order titles that are in stock.

Test cases, sorted by decreasing priority

- Buy/order a CD
X (happy path) CD is in stock -- subtract quantity bought from stock count
X insufficient stock -- throw InsufficientStock exception

- Search for CD
X (happy path) one match in catalogue -- return a list of single match, and its CD info
* no match - return empty list of matches
* multiple matches - return list of matches, and their CD info

- Receive stock from a CD label
* (happy path) single title in catalogue - add copies recieved to that CD's stock
* single title not in the catalogue -- add it to catalogue, and then add copies to stock
* multiple CDs - any new CDs added to catalogue, and any stock added to each CD.
